@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.3rem;

  }


}

:root {
    --col-body: rgb(255, 255, 255);
    --col-components-bg: rgb(247, 248, 252);
    --col-aside-bg-tc: rgb(255, 242, 242);
    --col-aside-bg-ac: rgb(255, 249, 241);
    --col-aside-bg-rc: rgb(237, 255, 236); 
    --col-aside-bg-dc: rgb(238, 252, 255);
    --col-bright-red: rgb(255, 0, 0);
    --col-wine: rgb(182, 0, 0);
    --col-orange: rgb(255, 106, 12);
    --col-green: rgb(127, 195, 22);
    --col-bright-blue: rgb(41, 107, 255); 
    --col-common-blue:  rgb(53, 56, 174);
    --col-dark-blue: rgb(15, 16, 88);
    --col-grey: rgb(176, 178, 188);
    --col-black: rgb(6, 6, 7);
    --col-bg-table-odd: rgb(248, 249, 254);
    --col-bg-table-accent: rgb(235, 235, 247);
    --col-bg-table-accent-dark: rgb(229, 230, 246);

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

