@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    --body: #ffffff;
    --components-bg: #f7f8fc;
    --aside-bg-tc: #fff2f2;
    --aside-bg-ac: #fff9f1;
    --aside-bg-rc: #edffec; 
    --aside-bg-dc: #eefcff;
    --bright-red: #ff0000;
    --wine: #b60000;
    --orange: #ff6a0c;
    --green: #7fc316;
    --bright-blue: #296bff; 
    --common-blue:  #3538ae;
    --dark-blue: #0f1058;
    --gear: #1d0f9f;
    --grey: #b0b2bc;
    --black: #060607;
    --table2: #f8f9fe;
    --table3: #ebebf7;
    --table4: #e5e6f6;

  }

}
